#form {
    background-color: #fff;
    max-width: 600px;
    margin: 40px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

@include media-breakpoint-up(sm) {
    .custom-class {
        display: block;
    }
}